In [ ]:
x = 10
name = "dell"
print("i just printed is %s and x values is %s" % (x,name))

i just printed is 10 and x values is dell

In [ ]:
print("i just printed is {0} and next is {1}" .format(x,name))

i just printed is 10 and next is dell

In [ ]:
print("i just printed {x} and {name}".format(x = 7 ,name = 'dell'))

i just printed 7 and dell

In [239]:
print(f"i just printed something is here {x} and smash to the {name}")

i just printed something is here 10 and smash to the dell

In [240]:
a = '10'
print(a+a)

1010

In [241]:
name = "manjunath"
age = str(32)
print(name+age)

manjunath32

In [242]:
print("10" + 10)

TypeError: can only concatenate str (not "int") to str

In [ ]:
#python list
days = ['Monday' , 'Tuesday',3,4,5,6,7]
days

['Monday', 'Tuesday', 3, 4, 5, 6, 7]

In [ ]:
days[:1]

['Monday']

In [ ]:
days[1]

'Tuesday'

In [ ]:
days[1:3]

['Tuesday', 3]

In [ ]:
len(days)

7

In [ ]:
days[2] = "nothing"

In [ ]:
days

['Monday', 'Tuesday', 'nothing', 4, 5, 6, 7]

In [ ]:
days[1] = 'Quickway'

In [ ]:
days

['Monday', 'Quickway', 'nothing', 4, 5, 6, 7]

In [ ]:
for i in range(len(days)):
    print(days[i])

Monday
Quickway
nothing
4
5
6
7

In [ ]:
for i in days:
    print(i)

Monday
Quickway
nothing
4
5
6
7

In [ ]:
a = [18,9,6,45,42]
newlist = str(a)[1:-1]

In [ ]:
newlist

'18, 9, 6, 45, 42'

In [ ]:
for i in a:
    print(i,end = ',')

18,9,6,45,42,

In [ ]:
numbers = [[18,20,36,78],[87,96,35,24,14]]
numbers

[[18, 20, 36, 78], [87, 96, 35, 24, 14]]

In [ ]:
for i in numbers:
    print("".join(map(str,i)))

18203678
8796352414

In [ ]:
numbers

[[18, 20, 36, 78], [87, 96, 35, 24, 14]]

In [ ]:
for i in numbers:
    for ele in i:
        print(ele,end='\t')

18	20	36	78	87	96	35	24	14

In [ ]:
subject = ('physics','chem','history')
subject

('physics', 'chem', 'history')

In [ ]:
subject[1]

'chem'

In [ ]:
# dictionaries
dic = {'city' :'Muddbihal','age':25}

In [ ]:
dic.keys()

dict_keys(['city', 'age'])

In [ ]:
dic.values()

dict_values(['Muddbihal', 25])

In [ ]:
dic

{'city': 'Muddbihal', 'age': 25}

In [ ]:
dic['city']

'Muddbihal'

In [ ]:
dic['age']

25

In [ ]:
dic['age'] = 33

In [ ]:
dic

{'city': 'Muddbihal', 'age': 33}

In [ ]:
b = 9
def func():
    a = 7
    print(a)
    print(b)
func()

7
9

In [ ]:
a

[18, 9, 6, 45, 42]

In [ ]:
#local scop 
a = 42
def func():
    print(a)
    a = 36
    print(a)
func()

UnboundLocalError: local variable 'a' referenced before assignment

In [ ]:
def func(a = 0):
    a+=1
    print(a)
func()

1

In [ ]:
def red():
    a = 36
    def blue():
        b = 45
        print(a)
        print(b)
    blue()
    print(a)
red()

36
45
36

In [ ]:
a = 4
def counter():
    a = 2
    print(a)
counter()

2

In [ ]:
a

4

In [ ]:
counter()

2

In [ ]:
a = 18
def func():
    global a
    a = 45
    print(a)
func()

45

In [ ]:
a

45

In [ ]:
def red():
    a = 1
    def blue():
        a = 2
        b = 2
        print(a)
        print(b)
    blue()
    print(a)
red()

2
2
1

In [ ]:
def red():
    a = 56
    def blue():
        nonlocal a
        a = 18
        b = 45
        print(a)
        print(b)
    blue()
    print(a)
red()

18
45
18

In [ ]:
a = 18
print(a)

18

In [ ]:
type(a)

int

In [ ]:
a = 89999999999999999999999999999999999999999999999999
type(a)

int

In [ ]:
type("dogs are love")

str

In [ ]:
type("dogs" , "are" , 'love')

TypeError: type.__new__() argument 2 must be tuple, not str

In [ ]:
name = "dogs are love"
name

'dogs are love'

In [ ]:
type(name)

str

In [ ]:
name = 'dogs are love'
name

'dogs are love'

In [ ]:
name = "dogs are love"
name

'dogs are love'

In [ ]:
name = """dogs are love"""

In [ ]:
name

'dogs are love'

In [ ]:
a = 'dogs are love"

SyntaxError: EOL while scanning string literal (<ipython-input-78-d837549f70c0>, line 1)

In [ ]:
string = "like " "something"

In [ ]:
string

'like something'

In [ ]:
name = "my name is 'Manjunath'"
name

"my name is 'Manjunath'"

In [ ]:
name = "dogs are 'loves'"
name

"dogs are 'loves'"

In [ ]:
name = """my name is
manjunath"""
name

'my name is\nmanjunath'

In [ ]:
a = "hello\wellcome"

In [ ]:
a

'hello\\wellcome'

In [ ]:
a = "dogs"
a

'dogs'

In [ ]:
name = "Manjunath kannur"
name[0]

'M'

In [ ]:
name[0] = "m"

TypeError: 'str' object does not support item assignment

In [ ]:
name[0]

'M'

In [ ]:
name[1]

'a'

In [ ]:
name[3:8]

'junat'

In [ ]:
name[1:5]

'anju'

In [ ]:
name[:]

'Manjunath kannur'

In [ ]:
name[0:5]

'Manju'

In [ ]:
name[:8]

'Manjunat'

In [ ]:
len(name)

16

In [ ]:
name[8:]

'h kannur'

In [ ]:
name[:]

'Manjunath kannur'

In [ ]:
name[-2:]

'ur'

In [ ]:
name[-3:-2]

'n'

In [ ]:
name[-2:-2]

''

In [ ]:
#python string concatenation
name = "string manipulation"
string = '$$'
my_string = name+string

In [ ]:
my_string

'string manipulation$$'

In [ ]:
a = '10'
print(a*2)

1010

In [ ]:
a = 20
sr = '10'
print(a*sr)
print(a+sr)

1010101010101010101010101010101010101010

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
a = str(18)
b = '2'
# a*b
a+b

'182'

In [ ]:
name = "manjunath"
print(f"my name is {name}")

my name is manjunath

In [ ]:
id = 25669874358778855
string = f"my token id is {id}"
string

'my token id is 25669874358778855'

In [ ]:
nwlst = "my new string {0}".format(id)

In [ ]:
nwlst

'my new string 25669874358778855'

In [ ]:
print("i love {0}".format(id))

i love 25669874358778855

In [ ]:
print("i love is {name}".format(name = "jjack"))

i love is jjack

In [ ]:
b = 'ferrets'
print(b)

ferrets

In [ ]:
name = "Manjunath"
age = 32
print("my name is %s and my age is %s" % (name , age))

my name is Manjunath and my age is 32

In [ ]:
# python string functions
name = "abook"
print(name)

abook

In [ ]:
len(name)

5

In [ ]:
len(name[:2])

2

In [ ]:
len(name[2:])

3

In [ ]:
len(name[:])

5

In [ ]:
len(name[0:2])

2

In [ ]:
str(2+3j)

'(2+3j)'

In [ ]:
str([18,45,36,108])

'[18, 45, 36, 108]'

In [ ]:
name

'abook'

In [ ]:
name = "hanuman prasanna"
name.lower()
name.upper()

'HANUMAN PRASANNA'

In [ ]:
name = " yallamma devi prasanna"
name.lower()
name.upper()

' YALLAMMA DEVI PRASANNA'

In [ ]:
name.strip()

'yallamma devi prasanna'

In [ ]:
name = " my name hanuman"
name.strip()

'my name hanuman'

In [ ]:
nest = name.isdigit()
if nest == False:
    name = "parasuram"
    print(name)

parasuram

In [ ]:
name

'parasuram'

In [ ]:
name = 'a77'
name

'a77'

In [ ]:
name.isdigit()

False

In [ ]:
name.isalpha()

False

In [ ]:
name = "my name is hanuman"
name.isalpha()

False

In [ ]:
name = " "
if name.isspace() == True:
    name = "my name is hanuman"
    print(name)

my name is hanuman

In [ ]:
name

'my name is hanuman'

In [ ]:
name.startswith('my')

True

In [ ]:
if name.startswith('sjsk') == False:
    new_string = 'My'
    no_data = my_string+name
    print(no_data)

string manipulation$$my name is hanuman

In [ ]:
no_data

'string manipulation$$my name is hanuman'

In [ ]:
no_data.endswith('n')

True

In [ ]:
no_data.find('my')

21

In [ ]:
no_data.find('xyz')

-1

In [ ]:
no_data.replace('my','xyz')

'string manipulation$$xyz name is hanuman'

In [ ]:
'no okay why?'.split()

['no', 'okay', 'why?']

In [ ]:
'my name is hanuman'.split()

['my', 'name', 'is', 'hanuman']

In [ ]:
"".join(['myname','to_dark','list'])

'mynameto_darklist'

In [ ]:
'hey' < 'hi'

True

In [ ]:
a = 'check'
a == 'check'

True

In [ ]:
'yes' != 'No'

True

In [ ]:
'yes' == "no"

False

In [ ]:
'na' + 'ba' *2

'nababa'

In [ ]:
'my' in 'myname is hanuman'

True

In [ ]:
string = "my name is hanuman"
'n' in string

True

In [ ]:
'xyz' in string

False

In [ ]:
'xyz' not in string

True

In [ ]:
'hey' is "hi"

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-178-88850270e51b>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  'hey' is "hi"

False

In [ ]:
"yo" is not "no"

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-179-7d4c2e517cd6>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  "yo" is not "no"

True

In [ ]:
'yes' not in "no"

True

In [ ]:
    '' and '1'

''

In [ ]:
'1' and ''

''

In [ ]:
3+4

7

In [ ]:
3-4

-1

In [ ]:
3*4

12

In [ ]:
3/4

0.75

In [ ]:
3**4

81

In [ ]:
3//4

0

In [ ]:
3/4

0.75

In [ ]:
3%4

3

In [ ]:
3<4

True

In [ ]:
3>4

False

In [ ]:
bin(5)

'0b101'

In [ ]:
bin(7)

'0b111'

In [ ]:
5 and 7

7

In [ ]:
5 & 7

5

In [ ]:
a = 7
if a > 6:
    print("something")

something

In [ ]:
if a < 6 :
    print("something")

In [ ]:
6 < 7

True

In [ ]:
a = 7
if a > 6:
    print("something")

something

In [ ]:
7 < 6

False

In [ ]:
18 > 19

False

In [ ]:
18 < 19

True

In [ ]:
9 < 3

False

In [ ]:
a = 18
if a < 9:
    print("something d u have")

In [ ]:
a = 18
if a > 9 :
    print("yes its greater than")

yes its greater than

In [ ]:
if 1:
    print("yee")

yee

In [ ]:
if (1 == 1):
    print("eys")

eys

In [ ]:
if 2 < 1:
    print("no")
else:
    print("yes")

yes

In [ ]:
if 2 < 1:
    print("yes")
else:
    print("no")

no

In [ ]:
2 <1

False

In [ ]:
age = 18
name = "Manjunath"
if age <= 18 :
    print(f'{name} is eligble for vote')
else:
    print(f'{name} is not eligble for vote')

Manjunath is eligble for vote

In [ ]:
a = 18
b = 36
if (a == b):
    if (a == b):
        print("a is 1 and b is 2")

In [ ]:
a = 7
if a > 4:
    print("yes")

yes

In [ ]:
def week(i):
    switcher = {
        1 : 'Monday',
        2 : 'Tuesday',
        3 : 'Wednesday',
        4 : 'Thursday',
        5 : 'Friday',
        6 : 'Saturday',
        7 : 'Sonday'
    }
    return switcher.get(i , 'invalid inputs')

In [ ]:
week(2)

'Tuesday'

In [ ]:
week(3)

'Wednesday'

In [ ]:
week(8)

'invalid inputs'

In [ ]:
def one():
    return 'zero'

def two():
    return 'two'

def week2(i):
    swicher = {
        1 : one(),
        2 : two(),
        3 : lambda : 'three',
    }
    func = swicher.get(i,lambda :'invalid')
    return func

In [ ]:
week2(6)

In [ ]:
week2(3)

In [ ]:
languages=['C++','Python','Scratch']

In [ ]:
languages

['C++', 'Python', 'Scratch']

In [ ]:
list1=[1,[2,3],(4,5),False,'No']

In [ ]:
list1

[1, [2, 3], (4, 5), False, 'No']

In [ ]:
list1[3]

False

In [ ]:
list1[2]

(4, 5)

In [ ]:
list1[1]

[2, 3]

In [ ]:
type(list1[-2])

bool

In [ ]:
list1[1.0]

TypeError: list indices must be integers or slices, not float

In [ ]:
list1

[1, [2, 3], (4, 5), False, 'No']

In [ ]:
list1[1:4]

[[2, 3], (4, 5), False]

In [ ]:
list1[:-2]

[1, [2, 3], (4, 5)]

In [ ]:
list1[-2]

False

In [ ]:
languages

['C++', 'Python', 'Scratch']

In [ ]:
languages[2] = 'Jython'

In [ ]:
languages

['C++', 'Python', 'Jython']

In [ ]:
languages[0] = 'Cython'

In [ ]:
languages = ['Cython', 'Python', 'Jython']

In [ ]:
list1

[1, [2, 3], (4, 5), False, 'No']

In [ ]:
del list1

In [ ]:
list1

NameError: name 'list1' is not defined

In [ ]:
del languages

In [ ]:
languages

NameError: name 'languages' is not defined

In [ ]:
languages

['Cython', 'Python', 'Jython']

In [ ]:
del languages[2]

In [ ]:
languages

['Cython', 'Python']

In [ ]:
del languages[1:]

In [ ]:
languages

['Cython']

In [ ]:
list1=[1,2,3,4,5,6,7,8]

In [ ]:
list1

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
list1[0] = 0

In [ ]:
list1

[0, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
list1[1:3] = [9,8,7]

In [ ]:
list1

[0, 9, 8, 7, 4, 5, 6, 7, 8]

In [ ]:
list1[1:3] = [1,2,5]

In [ ]:
list1

[0, 1, 2, 5, 7, 4, 5, 6, 7, 8]

In [ ]:
list1 = [0,0,0]

In [ ]:
list1

[0, 0, 0]

In [ ]:
colors=('Red','Green','Blue')

In [ ]:
colors

('Red', 'Green', 'Blue')

In [ ]:
mytuple = 1,2,3,

In [ ]:
mytuple

(1, 2, 3)

In [ ]:
a , b ,c = mytuple

In [ ]:
a

1

In [ ]:
b

2

In [ ]:
c

3

In [ ]:
hanuman = 18,45,108,36,42,24,63,81,54,21,12,42,51,15, # packing

In [ ]:
hanuman

(18, 45, 108, 36, 42, 24, 63, 81, 54, 21, 12, 42, 51, 15)

In [ ]:
len(hanuman)

14

In [ ]:
a,b,c,d,e,f,g,h,i,j,k,l,m,n = hanuman # unpacking

In [ ]:
a

18

In [ ]:
f

24

In [ ]:
g

63

In [ ]:
h

81

In [ ]:
a = 1
type(a)

int

In [ ]:
a = 1,
type(a)

tuple

In [ ]:
a = 18,
type(a)

tuple

In [ ]:
myset={3,1,2}

In [ ]:
myset

{1, 2, 3}

In [ ]:
mydict={1:2,2:4,3:6}

In [ ]:
mydict

{1: 2, 2: 4, 3: 6}

In [ ]:
mydict[2]

4

In [ ]:
mydict[1]

2

In [ ]:
mydict[6]

KeyError: 6

In [ ]:
colors=['red','green','blue']

In [ ]:
days=['Monday','Tuesday','Wednesday',4,5,6,7.0]

In [ ]:
languages=[['English'],['Gujarati'],['Hindi'],'Romanian','Spanish']

In [ ]:
languages

[['English'], ['Gujarati'], ['Hindi'], 'Romanian', 'Spanish']

In [ ]:
type(languages[0])

list

In [ ]:
languages=[('English','Albanian'),'Gujarati','Hindi','Romanian','Spanish']
languages[0]

('English', 'Albanian')

In [ ]:
type(languages[0])

tuple

In [ ]:
languages[0] [0] = 'albenia'

TypeError: 'tuple' object does not support item assignment

In [ ]:
days

['Monday', 'Tuesday', 'Wednesday', 4, 5, 6, 7.0]

In [ ]:
languages=[['English'],['Gujarati'],['Hindi'],'Romanian','Spanish']

In [ ]:
languages

[['English'], ['Gujarati'], ['Hindi'], 'Romanian', 'Spanish']

In [ ]:
print(languages)

[['English'], ['Gujarati'], ['Hindi'], 'Romanian', 'Spanish']

In [ ]:
languages[0]

['English']

In [ ]:
languages[1.0]

TypeError: list indices must be integers or slices, not float

In [ ]:
languages[2:4]

[['Hindi'], 'Romanian']

In [ ]:
languages

[['English'], ['Gujarati'], ['Hindi'], 'Romanian', 'Spanish']

In [ ]:
indices=['zero','one','two','three','four','five']

In [ ]:
indices[2:4]

['two', 'three']

In [ ]:
indices[3:5]

['three', 'four']

In [ ]:
indices[:4]

['zero', 'one', 'two', 'three']

In [ ]:
indices[4:]

['four', 'five']

In [ ]:
indices[:]

['zero', 'one', 'two', 'three', 'four', 'five']

In [ ]:
indices[1:2]

['one']

In [ ]:
indices[:-2]

['zero', 'one', 'two', 'three']

In [ ]:
indices[1:-2]

['one', 'two', 'three']

In [ ]:
colors

['red', 'green', 'blue']

In [ ]:
colors=['caramel','gold','silver','occur']

In [ ]:
colors

['caramel', 'gold', 'silver', 'occur']

In [ ]:
colors[2:] = ['Bronze', 'Silver']

In [ ]:
colors

['caramel', 'gold', 'Bronze', 'Silver']

In [ ]:
colors=['caramel','gold','silver','occur']

In [ ]:
colors[2:3] = ['Champion','Crystal']

In [ ]:
colors

['caramel', 'gold', 'Champion', 'Crystal', 'occur']

In [ ]:
colors=['caramel','gold','silver','occur']

In [ ]:
colors[0] = "Champion"

In [ ]:
colors

['Champion', 'gold', 'silver', 'occur']

In [ ]:
colors=['caramel','gold','silver','bronze','holographic']

In [ ]:
colors

['caramel', 'gold', 'silver', 'bronze', 'holographic']

In [ ]:
del colors

In [ ]:
colors

UsageError: %colors: you must specify a color scheme. See '%colors?'

In [ ]:
colors=['caramel','gold','silver','bronze','holographic']

In [ ]:
colors[2:4]

['silver', 'bronze']

In [ ]:
del colors[2:4]

In [ ]:
colors

['caramel', 'gold', 'holographic']

In [ ]:
colors[2]

'holographic'

In [ ]:
del colors[2]

In [ ]:
colors

['caramel', 'gold']

In [ ]:
grocery_list=[['caramel','P&B','Jelly'],['onions','potatoes'],['flour','oil']]

In [ ]:
grocery_list

[['caramel', 'P&B', 'Jelly'], ['onions', 'potatoes'], ['flour', 'oil']]

In [ ]:
My_Multi_list = [[18,45,36],[42,51],21]

In [ ]:
My_Multi_list

[[18, 45, 36], [42, 51], 21]

In [ ]:
a=[[[1,2],[3,4],5],[6,7]]

In [ ]:
a [0][1][1]

4

In [ ]:
a , b = [18,45,36] ,[42,51]

In [ ]:
add = a+b

In [ ]:
add

[18, 45, 36, 42, 51]

In [ ]:
a

[18, 45, 36]

In [ ]:
a *= 2

In [ ]:
a

[18, 45, 36, 18, 45, 36]

In [ ]:
18 in a

True

In [ ]:
18 not in a

False

In [ ]:
# iterating on python list
for i in range(len(a)):
    if i % 2 == 0:
        print(a[i])

18
36
45

In [ ]:
even = [i*2 for i in range(1,11)]

In [ ]:
even

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
Ls = [new for new in range(0,6)]
Ls

[0, 1, 2, 3, 4, 5]

In [ ]:
Mylist = [i for i in range(9) if i % 2 == 0]

In [ ]:
Mylist

[0, 2, 4, 6, 8]

In [ ]:
Mylist = []
for i in ('Malingray','hanuman','yellammadevi'):
    Mylist.append(i)
Mylist

['Malingray', 'hanuman', 'yellammadevi']

In [ ]:
Mylist = [i for i in ['Malingray','hanuman','yallammadevi']]

In [ ]:
Mylist

['Malingray', 'hanuman', 'yallammadevi']

In [ ]:
newlst = [chor for chor in 'renukadiv']

In [ ]:
newlst

['r', 'e', 'n', 'u', 'k', 'a', 'd', 'i', 'v']

In [ ]:
def for_loop():
    Mylist = []
    for i in range(9):
        Mylist.append(i**2)
    return Mylist

In [ ]:
for_loop()

[0, 1, 4, 9, 16, 25, 36, 49, 64]

In [ ]:
matrix = []
for i in range(9):
    matrix.append(i)
    for j in range(9):
        matrix.append(j)

In [ ]:
matrix

[0,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 1,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 2,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 3,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 4,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 5,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 7,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 8,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8]

In [ ]:
numbers = [i*10 for i in range(1,6)]

In [ ]:
numbers

[10, 20, 30, 40, 50]

In [ ]:
# len() , sum(), any(),min(),max(),sorted(),all()
even = [i*2 for i in range(1,9)]

In [ ]:
even

[2, 4, 6, 8, 10, 12, 14, 16]

In [ ]:
len(even)

8

In [ ]:
sum(even)

72

In [ ]:
max(even)

16

In [ ]:
min(even)

2

In [ ]:
count = 0
for i in even:
    count+=1
print(count)

8

In [ ]:
len(even)

8

In [ ]:
even

[2, 4, 6, 8, 10, 12, 14, 16]

In [ ]:
Mylist = [18,35,6,9,1,4,788,55,6,99,444,]

In [ ]:
highest = 0
for i in Mylist:
    if i > highest:
        highest = i
print(highest)

788

In [ ]:
min = 0
for i in Mylist:
    if i < min:
        i = min
print(min)

0

In [ ]:
def Counter(Mylist):
    count = 0
    for number in range(len(Mylist)):
        count +=1
    return count

In [ ]:
Counter(Mylist)

11

In [ ]:
len(Mylist)

11

In [ ]:
max(Mylist)

788

In [ ]:
def find_Maximum(Mylist):
    highest_number = 0
    for numbers in Mylist:
        if numbers > highest_number:
            highest_number = numbers
    return highest_number

In [234]:
find_Maximum(Mylist)

788

In [254]:
def Highest_number(Mylist):
    hi_number = 0
    for number in range(len(Mylist)):
        if Mylist[number] < Mylist[hi_number]:
            Mylist[hi_number] = Mylist[number]   
    return Mylist[hi_number]

In [255]:
Highest_number(Mylist)

788

In [279]:
def find_Minimum(Mylist):
    min1 = Mylist[0]
    for number in Mylist:
        if number < min1:
            min1 = number
    return min1

In [280]:
find_Minimum(Mylist)

1

In [277]:
Mylist = [1,5,6,8,9,74,6]

In [281]:
find_Minimum(Mylist)

1

In [282]:
def count(mylist):
    count = 0
    for i in range(len(Mylist)):
        count +=1
    return count

In [283]:
count(Mylist)

7

In [284]:
len(Mylist)

7

In [287]:
def greater_list(Mylist):
    hig = 0
    for i in range(len(Mylist)):
        if Mylist[i] > Mylist[hig]:
            Mylist[hig] = Mylist[i]
    return Mylist[hig]

In [288]:
greater_list(Mylist)

74

In [289]:
max(Mylist)

74

In [293]:
def Smallest_List(Mylist):
    min1 = 0
    for i in range(len(Mylist)):
        if Mylist[i] < Mylist[min1]:
            Mylist[min1] = Mylist[i]
    return Mylist[min1]

In [294]:
Smallest_List(Mylist)

5

In [300]:
Mylist = [18,6,4,5,8,9,]

In [301]:
sum1 = 0
for i in Mylist:
    sum1 +=i
print(sum1)

50

In [302]:
sum(Mylist)

50

In [303]:
def Total_sum(Mylist):
    sum1 = 0
    for i in range(len(Mylist)):
        Mylist[sum1] += Mylist[i]
    return Mylist[sum1]

In [304]:
Total_sum(Mylist)

68

In [305]:
sum(Mylist)

100

In [306]:
Mylist

[68, 6, 4, 5, 8, 9]

In [307]:
sum(Mylist)

100

In [308]:
Mylist

[68, 6, 4, 5, 8, 9]

In [309]:
Mylist = []

In [310]:
Mylist

[]

In [311]:
x = [18,36]

In [312]:
Mylist.append(x)

In [313]:
Mylist

[[18, 36]]

In [314]:
del Mylist

In [315]:
Mylist = []

In [319]:
Mylist.append(18)
x = 36

In [322]:
Mylist + list(str(x))

[18, 18, '3', '6']

In [323]:
del Mylist

In [327]:
Mylist+[18]+[36]

[18, 36]

In [328]:
del Mylist

In [329]:
Mylist = []

In [330]:
Mylist.append(18)

In [331]:
Mylist

[18]

In [332]:
Mylist.append(36)

In [334]:
Mylist + [81]

[18, 36, 81]

In [347]:
def end_element(Mylist,ele):
    Mylist = Mylist + [ele]
    return Mylist

In [348]:
end_element(Mylist,18)

[18]

In [349]:
Mylist

[]

In [351]:
x = [4,5]
y = x + [6]

In [352]:
y

[4, 5, 6]

In [353]:
x

[4, 5]

In [355]:
del Mylist

In [356]:
Mylist = []

In [357]:
Mylist

[]

In [358]:
def adding_end(Mylist,ele):
    end_list = 0
    for i in Mylist:
        end_list = Mylist+i
        return end_list

In [359]:
adding_end(Mylist,18)

In [360]:
Mylist

[]

In [362]:
Mylist.append(18)

In [364]:
Mylist.append(36)

In [365]:
Mylist

[18, 36]

In [366]:
Mylist = [45] + Mylist

In [367]:
Mylist

[45, 18, 36]

In [368]:
del Mylist

In [369]:
Mylist = []

In [370]:
Mylist = Mylist + [18]

In [371]:
Mylist

[18]

In [374]:
Mylist =[9]+ Mylist

In [375]:
Mylist

[9, 18]

In [388]:
def adding_first_List(Mylist,ele):
    track = 0
    Mylist = [ele] + Mylist
    track +=1
    print(track)
    return Mylist

In [389]:
adding_first_List(Mylist,0)

1

[0, 9, 18]

In [390]:
def add_end_list(Mylist,ele):
    Mylist = Mylist + [ele]
    return Mylist

In [391]:
add_end_list(Mylist,54)

[9, 18, 54]

In [392]:
Mylist

[9, 18]

In [393]:
del Mylist

In [394]:
new_list = []

In [395]:
new_list.append(18)
new_list.append(45)
new_list.append(36)
new_list

[18, 45, 36]

In [398]:
# for i in new_list:
#     if i > 20:
#         new_list.insert(i,55)
#     else:
#         new_list.insert(i,77)
new_list.insert(0,58)

In [399]:
new_list

[58,
 18,
 45,
 36,
 55,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 ...]

In [400]:
del new_list

In [401]:
new_list = []
new_list.insert(0,18)

In [402]:
new_list

[18]

In [403]:
new_list.append(45)

In [404]:
new_list

[18, 45]

In [405]:
new_list.insert(0,63)

In [406]:
new_list

[63, 18, 45]

In [407]:
new_list.append(5)

In [408]:
new_list

[63, 18, 45, 5]

In [409]:
new_list.insert(2,8)

In [410]:
new_list

[63, 18, 8, 45, 5]

In [413]:
new_list.remove(63)

In [415]:
new_list

[18, 8, 45, 5]

In [416]:
new_list.pop()

5

In [417]:
new_list.pop(0)

18

In [418]:
new_list

[8, 45]

In [419]:
new_list.pop(0)

8

In [420]:
new_list

[45]

In [421]:
new_list.clear()

In [422]:
new_list

[]

In [423]:
a=[1,3,5,3,4]

In [424]:
a.index(3)

1

In [426]:
a.count(5)

1

In [1]:
Mylist = [18,5,69,8,3,56,4,7,5,8,6,9,2,1,5,36,5,7,8,4,5,1,5,65,9]

In [2]:
def Count_element(Mylist,count):
    for i in Mylist:
        if count == i:
            count +=1
            break
    return count

In [3]:
Count_element(Mylist,5)

6

In [431]:
Mylist.count(5)

6

In [436]:
def counter(Mylist,count):
    for i in Mylist:
        if count == i:
            count +=1
            break
    return count

In [437]:
counter(Mylist,5)

6

In [438]:
Mylist.sort()

In [439]:
Mylist

[1,
 1,
 2,
 3,
 4,
 4,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 7,
 7,
 8,
 8,
 8,
 9,
 9,
 18,
 36,
 56,
 65,
 69]

In [440]:
del Mylist

In [441]:
Mylist = [2,5,8,9,6,]

In [442]:
new_list = Mylist[::-1]

In [443]:
new_list

[6, 9, 8, 5, 2]

In [444]:
new_list

[6, 9, 8, 5, 2]

In [445]:
def reverse(Mylist):
    l = len(Mylist)
    for i in range(int(l/2)):
        n = Mylist[i]
        Mylist[i] = Mylist[l-i-1]
        Mylist[l-i-1] = n
    return Mylist

In [446]:
reverse(Mylist)

[6, 9, 8, 5, 2]

In [447]:
reverse(new_list)

[2, 5, 8, 9, 6]

In [448]:
reverse(new_list)

[6, 9, 8, 5, 2]

In [450]:
def reverse1(Mylist):
    return Mylist[::-1]

In [451]:
reverse1(Mylist)

[2, 5, 8, 9, 6]

In [452]:
percentages=(90,95,89)

In [453]:
percentages

(90, 95, 89)

In [454]:
Mylist

[6, 9, 8, 5, 2]

In [455]:
b= 1, 2.0, 'three'

In [456]:
b

(1, 2.0, 'three')

In [457]:
My_Tuple = 18,36,45

In [458]:
My_Tuple

(18, 36, 45)

In [459]:
a = 10,25

In [460]:
a

(10, 25)

In [461]:
a = 10

In [463]:
type(a)

int

In [464]:
percentages=(99,95,90,89,93,96)

In [465]:
len(percentages)

6

In [466]:
a,b,c,d,e,f = percentages

In [467]:
a

99

In [468]:
b

95

In [469]:
c

90

In [470]:
e

93

In [471]:
a = (1)
type(a)

int

In [472]:
a = 1,
type(a)

tuple

In [473]:
percentages

(99, 95, 90, 89, 93, 96)

In [474]:
percentages[1]

95

In [475]:
percentages[0]

99

In [476]:
percentages[2:5]

(90, 89, 93)

In [477]:
percentages[:4]

(99, 95, 90, 89)

In [478]:
percentages[4:]

(93, 96)

In [479]:
percentages[2:2]

()

In [480]:
percentages[:-2]

(99, 95, 90, 89)

In [481]:
del percentages

In [483]:
my_tuple=(1,2,3,[4,5])

In [484]:
my_tuple

(1, 2, 3, [4, 5])

In [485]:
my_tuple[3][1] = 18

In [486]:
my_tuple

(1, 2, 3, [4, 18])

In [487]:
my_tuple[3][0] = 45

In [488]:
my_tuple

(1, 2, 3, [45, 18])

In [489]:
my_tuple[3] = 58

TypeError: 'tuple' object does not support item assignment

In [490]:
def len_function(Mylist):
    count = 0
    for i in range(len(Mylist)):
        count +=1
    return count

In [491]:
len_function(My_Tuple)

3

In [492]:
My_Tuple

(18, 36, 45)

In [505]:
def Max_function(Mylist):
    higest = 0
    for number in range(len(Mylist)):
        if Mylist[number] > Mylist[higest]:
            Mylist[higest] = Mylist[number]
    return higest

In [516]:
mylisst = [25,8,9,8,8,7,35]
higest = 0
for i in  mylisst:
    if i > higest:
        higest = i
print(higest)

lowest = mylisst[0]
for i in mylisst:
    if i < lowest:
        lowest = i
print(lowest)

summ = 0
for i in mylisst:
    summ +=i
print(summ)
print(sum(mylisst))

def reverse2(Mylist):
    L = len(Mylist)
    for i in range(int(L/2)):
        temp = Mylist[i]
        Mylist[i] = Mylist[L-i-1]
        Mylist[L-i-1] = temp
    return Mylist

def rev(Mylist):
    return Mylist[::-1]

35
7
100
100

In [518]:
print(reverse2(mylisst))
print(rev(mylisst))

[25, 8, 9, 8, 8, 7, 35]
[35, 7, 8, 8, 9, 8, 25]

In [519]:
sum(mylisst)

100

In [524]:
def Sorted_item(Mylist):
    L = len(Mylist)
    for i in range(L):
        flag = True
        for j in range(i+1,L):
            if Mylist[j] < Mylist[j+1]:
                temp = Mylist[j]
                Mylist[j] = Mylist[j+1]
                Mylist[j+1] = temp
        flag = False
        return Mylist

In [525]:
sorted(mylisst)

[7, 8, 8, 8, 9, 25, 35]

In [526]:
list1 = [1,2,3]
tuple(list1)

(1, 2, 3)

In [527]:
string1="string"

In [528]:
string1

'string'

In [530]:
del Mylist

In [531]:
Mylist = [18,25,3,6,9,8,'Sonday','yallamma','kurubar']
tuple(Mylist)

(18, 25, 3, 6, 9, 8, 'Sonday', 'yallamma', 'kurubar')

In [532]:
set1={2,1,3}
tuple(set1)

(1, 2, 3)

In [534]:
Mylist = [18,25,3,6,9,8,'Sonday','yallamma','kurubar']
L = len(Mylist)
for i in range(L):
    if Mylist[i] == i:
        break
print(Mylist)

[18, 25, 3, 6, 9, 8, 'Sonday', 'yallamma', 'kurubar']