In [1]:
Mylist = [18,45,36,75,63,98,41,52,35,68,47,12,58,91]

In [2]:
Mylist

[18, 45, 36, 75, 63, 98, 41, 52, 35, 68, 47, 12, 58, 91]

In [1]:
def Counter(Mylist):
    count = 0
    for i in range(len(Mylist)):
        count+=1
    return count

In [13]:
Counter(Mylist)

14

In [78]:
def search(Mylist,search):
    L = len(Mylist)
    count = 0
    for i in range(L):
        if Mylist[i] == search:
            count +=1
            break
        # return 0
    return count

In [79]:
Mylist = [1,5,8,9,6,4,7,3,5,6,9,8,2,4,8,5,79,5,6,4,1,2,3,6,5,99,8,45,6,9,]
print(search(Mylist,18))

0

In [34]:
def len_function(Mylist):
    count = 0
    for i in range(len(Mylist)):
        count +=1
    return count

In [37]:
print(len_function(Mylist))
len(Mylist)

30

30

In [40]:
def Max_function(Mylist):
    highest = 0
    for i in range(len(Mylist)):
        if Mylist[i] > Mylist[highest]:
            Mylist[highest] = Mylist[i]
    return Mylist[highest]

In [41]:
print(Max_function(Mylist))
print(max(Mylist))

99
99

In [42]:
def min_function(Mylist):
    lowest = 0
    for i in range(len(Mylist)):
        if Mylist[i] < Mylist[lowest]:
            Mylist[lowest] = Mylist[i]
    return Mylist[lowest]

In [43]:
print(min_function(Mylist))
print(min(Mylist))

1
1

In [44]:
def sum_of_list(Mylist):
    count = 0
    for i in range(len(Mylist)):
        count += Mylist[i]
    return count

In [45]:
print(sum_of_list(Mylist))
print(sum(Mylist))

368
368

In [46]:
colors=['red','green','blue']

In [47]:
colors

['red', 'green', 'blue']

In [48]:
days=['Monday','Tuesday','Wednesday',4,5,6,7.0]

In [49]:
days

['Monday', 'Tuesday', 'Wednesday', 4, 5, 6, 7.0]

In [50]:
languages=[['English'],['Gujarati'],['Hindi'],'Romanian','Spanish']

In [51]:
languages

[['English'], ['Gujarati'], ['Hindi'], 'Romanian', 'Spanish']

In [52]:
type(languages)

list

In [53]:
languages[0]

['English']

In [54]:
type(languages[0])

list

In [55]:
days

['Monday', 'Tuesday', 'Wednesday', 4, 5, 6, 7.0]

In [56]:
indices=['zero','one','two','three','four','five']

In [57]:
indices

['zero', 'one', 'two', 'three', 'four', 'five']

In [58]:
indices[2:4]

['two', 'three']

In [59]:
indices[4:]

['four', 'five']

In [60]:
indices[:]

['zero', 'one', 'two', 'three', 'four', 'five']

In [61]:
indices[:-2]

['zero', 'one', 'two', 'three']

In [62]:
colors=['red','green','blue']

In [67]:
colors=['caramel','gold','silver','occur']
colors[:2] = ['mk','kannur']

In [68]:
colors

['mk', 'kannur', 'silver', 'occur']

In [73]:
colors[2:2] = ['coloer']

In [74]:
colors

['mk',
 'kannur',
 'coloer',
 'coloer',
 'c',
 'o',
 'l',
 'o',
 'e',
 'r',
 'silver',
 'occur']

In [77]:
colors=['caramel','gold','silver','occur']
colors[3] = 'hanuman'
colors

['caramel', 'gold', 'silver', 'hanuman']

In [78]:
del colors

In [79]:
colors=['caramel','gold','silver','bronze','holographic']

In [80]:
colors

['caramel', 'gold', 'silver', 'bronze', 'holographic']

In [81]:
del colors[2:4]

In [82]:
colors

['caramel', 'gold', 'holographic']

In [84]:
del colors[1:3]
colors

['caramel']

In [85]:
del colors[0]

In [86]:
colors

[]

In [87]:
a , b = [4,5,6],[2,5,6]
a+b

[4, 5, 6, 2, 5, 6]

In [89]:
even = [i for i in range(9) if i % 2 == 0]
even

[0, 2, 4, 6, 8]

In [90]:
even = [i*2 for i in range(9)]

In [91]:
even

[0, 2, 4, 6, 8, 10, 12, 14, 16]

In [101]:
def len_function11(Mylist):
    count = 0
    for i in Mylist:
        count += 1
    return count

In [102]:
print(len_function11(Mylist))
print(len(Mylist))

30
30

In [103]:
def Max_function11(Mylist):
    highest = 0
    for i in Mylist:
        if i > highest:
            highest = i
    return highest

In [105]:
print(Max_function11(Mylist))
print(max(Mylist))

121
121

In [108]:
def min_function11(Mylist):
    lowest = Mylist[0]
    for i in Mylist:
        if i < lowest:
            lowest = i
    return lowest

In [109]:
min_function11(Mylist)

1

In [110]:
def sum_of_list11(Mylist):
    count = 0
    for i in Mylist:
        count +=i
    return count

In [111]:
print(sum_of_list11(Mylist))
print(sum(Mylist))

488
488

In [122]:
def sorted_list(Mylist):
    L = len(Mylist)
    for i in range(L):
        flag = True
        for j in range(L-i-1):
            if Mylist[j] > Mylist[j+1]:
                temp = Mylist[j]
                Mylist[j] = Mylist[j+1]
                Mylist[j+1] = temp
        flag = False
    return Mylist

In [123]:
sorted_list(Mylist)

[1,
 2,
 2,
 3,
 3,
 4,
 4,
 4,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 7,
 8,
 8,
 8,
 8,
 9,
 9,
 9,
 45,
 79,
 99,
 121]

In [144]:
def append_function(Mylist,ele):
    track = 0
    app = Mylist + [ele]
    track = track +1
    return app

def front_function(Mylist,ele):
    track = 0
    app = [ele] + Mylist
    track = track + 1
    return app
new_list = [18]

In [145]:
append_function(new_list,18)
append_function(new_list,45)
front_function(new_list,24)

[24, 18]

In [148]:
new_list.append(45)
del new_list

In [149]:
new_list = []

In [159]:
new_list.append(18)
new_list.append(45)
new_list.append(108)
new_list.append(63)

In [151]:
new_list

[18, 45]

In [162]:
def reverse(Mylist):
    L = len(Mylist)
    for i in range(int(L/2)):
        if Mylist[i] > Mylist[i+1]:
            temp = Mylist[i]
            Mylist[i] = Mylist[L-i-1]
            Mylist[L-i-1] = temp
    return Mylist

In [169]:
print(new_list)
print(reverse(new_list))
# print(reverse(new_list))

[45, 18, 18, 45, 108, 63]
[63, 18, 18, 45, 108, 45]

In [170]:
def reverse1(Mylist):
    return Mylist[::-1]

In [172]:
print(new_list)
print(reverse1(new_list))

[63, 18, 18, 45, 108, 45]
[45, 108, 45, 18, 18, 63]

In [181]:
def count_search(arr, key):
    i = 0
    n = len(arr)
    while i < n:
        if arr[i] == key:
            break
        i+=1
    return i

In [182]:
count_search(new_list,5)

6

In [184]:
percentages=(90,95,89)
percentages

(90, 95, 89)

In [185]:
python = 18,45,108
a, b ,c = python

In [186]:
a

18

In [187]:
b

45

In [188]:
c

108

In [189]:
a = (1)
type(a)

int

In [190]:
a = 1,
type(a)

tuple

In [191]:
a = 1
type(a)

int

In [192]:
percentages

(90, 95, 89)

In [193]:
percentages[0]

90

In [194]:
percentages[1]

95

In [195]:
percentages[2]

89

In [196]:
percentages=(99,95,90,89,93,96)

In [197]:
percentages

(99, 95, 90, 89, 93, 96)

In [198]:
percentages[2:3]

(90,)

In [200]:
percentages[-1]

96

In [202]:
percentages[:-1]

(99, 95, 90, 89, 93)

In [2]:
percentages=(99,95,90,89,93,96)

In [3]:
percentages

(99, 95, 90, 89, 93, 96)

In [4]:
percentages[:4]

(99, 95, 90, 89)

In [5]:
percentages[4:]

(93, 96)

In [7]:
del percentages[:4]

TypeError: 'tuple' object does not support item deletion

In [8]:
del percentages

In [9]:
percentages

NameError: name 'percentages' is not defined

In [10]:
my_tuple=(1,2,3,[4,5])

In [11]:
my_tuple

(1, 2, 3, [4, 5])

In [13]:
my_tuple[3][0] = 'kannur'

In [14]:
my_tuple

(1, 2, 3, ['kannur', 5])

In [15]:
my_tuple[3] = 6

TypeError: 'tuple' object does not support item assignment

In [16]:
my_tuple[3][1] = 'hanuman'

In [17]:
my_tuple

(1, 2, 3, ['kannur', 'hanuman'])

In [21]:
def max_function(Mylist):
    highest = 0
    for i in range(len(Mylist)):
        if Mylist[i] > Mylist[highest]:
            Mylist[highest] = Mylist[i]
    return Mylist[highest]

In [22]:
Mylist = [4,5,6,7,8,9,6,9,8,4,7,5,2,3,1,5,8]
print(max_function(Mylist))
print(max(Mylist))

9
9

In [23]:
def min_function(Mylist):
    lowest = 0
    for number in range(len(Mylist)):
        if Mylist[number] < Mylist[lowest]:
            Mylist[lowest] = Mylist[number]
    return Mylist[lowest]

In [25]:
print(min_function(Mylist))
print(min(Mylist))

1
1

In [26]:
def len_function(Mylist):
    count = 0
    for i in Mylist:
        count +=1
    return count

In [28]:
print(len_function(Mylist))
print(len(Mylist))

17
17

In [29]:
def sum_of_all(Mylist):
    count = 0
    for i in range(len(Mylist)):
        count += Mylist[i]
    return count

In [31]:
print(sum_of_all(Mylist))
print(sum(Mylist))

94
94

In [32]:
def Sorted(Mylist):
    N = len(Mylist)
    for i in range(N):
        flag = True
        for j in range(N-i-1):
            if Mylist[j] < Mylist[j+1]:
                temp = Mylist[j]
                Mylist[j] = Mylist[j+1]
                Mylist[j+1] = temp
        flag = False
    return Mylist

In [34]:
print(Sorted(Mylist))
print(sorted(Mylist))

[9, 9, 8, 8, 8, 7, 7, 6, 6, 5, 5, 5, 4, 3, 2, 1, 1]
[1, 1, 2, 3, 4, 5, 5, 5, 6, 6, 7, 7, 8, 8, 8, 9, 9]

In [124]:
def index_function(Mylist,id):
    for i in range(len(Mylist)):
        if Mylist[i] == id:
            return i
    return 0

In [130]:
def search_element(new_list,search):
    for i in range(len(new_list)):
        if new_list[i] == new_list[search]:
            new_list[search] += 1
            break
    return new_list[search]

In [131]:
new_track = [1,5,8,9,6,8,7,3,2,5,6,4,7,9,8,6,2,5,4]
search_element(new_track,1)

6

In [137]:
x = [1,2,3,1,2,1]
count = 0
for i in x:
    if i == 1:
        count +=1
        break
print(count)

1

In [141]:
def new_search(new_mylist,search):
    count = 0
    for i in new_mylist:
        if i == search:
            count += 1
    return count

In [146]:
print(new_search(new_track,6))
print(new_track.count(6))

4
4

In [147]:
for i in new_track:
    print(i)

1
6
8
9
6
8
7
3
2
5
6
4
7
9
8
6
2
5
4

In [148]:
a = ((1,2,3),(4,(5,6)))

In [149]:
a

((1, 2, 3), (4, (5, 6)))

In [151]:
a[1][1][1]

6

In [152]:
a={1,3,2}

In [153]:
a

{1, 2, 3}

In [154]:
c={1,2.0,'three'}

In [155]:
c

{1, 2.0, 'three'}

In [156]:
numbers = {4,5,6,7,8,9,1,2,3,4,5,66,8,9}

In [157]:
numbers

{1, 2, 3, 4, 5, 6, 7, 8, 9, 66}

In [160]:
d=set()
type(d)

set

In [161]:
d = {}
type(d)

dict

In [162]:
d=set([1,3,2])

In [163]:
d

{1, 2, 3}

In [168]:
numbers=[3,2,1,4,6,5]
for i in numbers:
    if i != 1:
        print(i)

3
2
4
6
5

In [175]:
def remove(Mylist,remove):
    for i in Mylist:
        if i != remove:
            print(i)

In [176]:
remove(numbers,2)

3
1
4
6
5

In [183]:
numbers = {3,2,1,4,6,5}
# numbers.remove(1)
# numbers.remove(5)
numbers.pop()
numbers

{2, 3, 4, 5, 6}

In [186]:
numbers = [3,2,1,4,6,5]
numbers.pop()
numbers.clear()
numbers

[]

In [188]:
numbers={3,1,2,4,6,5}
numbers[3] = 5

TypeError: 'set' object does not support item assignment

In [197]:
numbers.add(65)
numbers.add(32)
numbers.add(18)
numbers.add(47)
numbers.add(21)

In [198]:
numbers

{1, 2, 3, 4, 5, 6, 18, 21, 32, 47, 65}

In [199]:
numbers.update([7,8],{1,2,9})

In [200]:
numbers

{1, 2, 3, 4, 5, 6, 7, 8, 9, 18, 21, 32, 47, 65}

In [201]:
days={'Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday'}

In [202]:
days

{'Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday'}

In [203]:
len(days)

7

In [208]:
# def max_function11(days):
#     highest = 0
#     for i in str(days):
#         if i > highest:
#             highest = i
#     return highest

In [210]:
# max_function11(days)

In [211]:
min(days)

'Friday'

In [213]:
sum({1,2,3})

6

In [214]:
numbers={1, 2, 3, 4, 5, 6, 3.5}
numbers

{1, 2, 3, 3.5, 4, 5, 6}