In [103]:
def reverse(Mylist):
    n = len(Mylist)
    for i in range(int(n/2)):
        if Mylist[i] < Mylist[i+1]:
            temp = Mylist[i]
            Mylist[i] = Mylist[n-i-1]
            Mylist[n-i-1] = temp
    return Mylist

In [104]:
Mylist = [1,4,5,8,9,6,7,3,2,65,4,8,9,52,1,4,56,7,8,5,6,9,5]
reverse(Mylist)

[5, 9, 6, 5, 9, 7, 7, 3, 1, 65, 9, 8, 4, 52, 2, 4, 56, 6, 8, 8, 5, 4, 1]

In [105]:
def count_Method(Mylist,number):
    count = 0
    for i in Mylist:
        if i == number:
            count +=1
    return count

In [106]:
print(count_Method(Mylist,5))
print(Mylist.count(5))

3
3

In [107]:
def max_function(Mylist):
    highest = 0
    for i in Mylist:
        if i > highest:
            highest = i
    return highest

In [108]:
print(max_function(Mylist))
print(max(Mylist))

65
65

In [109]:
def min_function(Mylist):
    lowest = Mylist[0]
    for i in Mylist:
        if i < lowest:
            lowest = i
    return lowest

In [110]:
print(min_function(Mylist))
print(min(Mylist))

1
1

In [111]:
def len_function(Mylist):
    count = 0
    for i in Mylist:
        count +=1
    return count

In [112]:
print(len_function(Mylist))
print(len(Mylist))

23
23

In [113]:
def sum_function(Mylist):
    count = 0
    for i in Mylist:
        count += i
    return count

In [114]:
print(sum_function(Mylist))
print(sum(Mylist))

284
284

In [115]:
def reverse_slice(Mylist):
    return Mylist[::-1]

In [116]:
print(reverse_slice(Mylist))
print(reversed(Mylist))

[1, 4, 5, 8, 8, 6, 56, 4, 2, 52, 4, 8, 9, 65, 1, 3, 7, 7, 9, 5, 6, 9, 5]
<list_reverseiterator object at 0x000001D7D189BD00>

In [117]:
def index_Method(Mylist,id):
    n = len(Mylist)
    for i in range(n):
        if Mylist[i] == Mylist[id]:
            print(i)

In [118]:
print(index_Method(Mylist,5))
print(Mylist.index(5))

5
6
None
0

In [119]:
def remove_method(Mylist,ele):
    for i in Mylist:
        if Mylist[i] != Mylist[ele]:
            return Mylist
# for i in Mylist:
#     if i != 5:
#         print(i,end='')

In [120]:
print(remove_method(Mylist,5))

[5, 9, 6, 5, 9, 7, 7, 3, 1, 65, 9, 8, 4, 52, 2, 4, 56, 6, 8, 8, 5, 4, 1]

In [121]:
Mylist = []
for i in 'yallammadevi':
    Mylist.append(i)
print(Mylist)

['y', 'a', 'l', 'l', 'a', 'm', 'm', 'a', 'd', 'e', 'v', 'i']

In [122]:
# in one line 
one = [i for i in 'yallammadevi']
one

['y', 'a', 'l', 'l', 'a', 'm', 'm', 'a', 'd', 'e', 'v', 'i']

In [123]:
reset = [i for i in {5,8,9}]
reset

[8, 9, 5]

In [124]:
myset = {18,45,36}
makelist = lambda i : list(i)
Mylist = makelist(myset)
Mylist
new_list = list(myset)
new_list

[18, 36, 45]

In [125]:
Mylist = []
for i in range(9):
    if i % 2 == 0:
        Mylist.append(i)
Mylist

[0, 2, 4, 6, 8]

In [126]:
two = [i for i in range(9) if i%2 == 0]
two
three = [i for i in range(9) if i % 2 == 0  if i % 3 == 0]
three

[0, 6]

In [127]:
for i in range(9):
    if i%2 == 0:
        print("even",i)
    else:
        print("odd",i)

four = ['even' if i%2 ==0 else 'odd' for i in range(9)]
four

even 0
odd 1
even 2
odd 3
even 4
odd 5
even 6
odd 7
even 8

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [128]:
a = 3
while a > 0:
    print(a)
    a -=1

3
2
1

In [129]:
a = 9
while a > 0:
    print(a)
    a -=1
else:
    print("you have reached..")

9
8
7
6
5
4
3
2
1
you have reached..

In [130]:
a = 9
while a > 0 :
    print(a)
    a -=1
    if a == 6:
        break

9
8
7

In [131]:
for i in range(9):
    if i != 6:
        print(i)
for i in range(9):
    if i == 6:
        print(i-1)

0
1
2
3
4
5
7
8
5

In [132]:
for i in range(9,-1,-1):
    print(i)

9
8
7
6
5
4
3
2
1
0

In [133]:
for i in range(3):
    print(i)
for i in range(3):
    print(i+1)

0
1
2
1
2
3

In [134]:
list(range(0,9))
list(range(1,6))

[1, 2, 3, 4, 5]

In [135]:
print(range(10))

range(0, 10)

In [136]:
list(range(1,9))

[1, 2, 3, 4, 5, 6, 7, 8]

In [137]:
list(range(1,6))

[1, 2, 3, 4, 5]

In [138]:
for i in [1,2,3]:
    print(i)

1
2
3

In [139]:
for i in [18,45,9]:
    print(i)

18
45
9

In [140]:
for i in {18,9,45,36}:
    print(i)

9
18
36
45

In [141]:
for i in 'yallammadevi':
    print(i)

y
a
l
l
a
m
m
a
d
e
v
i

In [142]:
del Mylist

In [143]:
Mylist = ['kannur','Manjunath','msk']
for i in range(len(Mylist)):
    print(Mylist[i],i)

kannur 0
Manjunath 1
msk 2

In [144]:
for i in range(9):
    print(i)
else:
    print("output is executed..")

0
1
2
3
4
5
6
7
8
output is executed..

In [145]:
for i in range(10):
    if i == 6:
        break
    print(i)

0
1
2
3
4
5

In [146]:
# nested for loop
for i in range(1,6):
    for j in range(i+1,6):
        print("*" , end = "")
    print()

****
***
**
*

In [155]:
for i in range(0,3):
    for j in range(i):
        print(j,end = '')
    print()
print(i)

0
01
2

In [149]:
0<0

False

In [157]:
for i in range(3):
    for j in range(3):
        print(i,j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

In [159]:
row = 6
for i in range(1,row+1):
    for j in range(1,i+1):
        print("*" , end = "")
    print()
print()

*
**
***
****
*****
******

In [162]:
row = 0
while row > 6:
    col = 0
    while col > 6:
        print(col , end = "")
        col +=1
    print(row , end ='')
    row +=1

In [165]:
row = 6
for i in range(1,row+1):
    for j in range(1,i+1):
        print("*" , end = "")
    print()
print()

*
**
***
****
*****
******

In [170]:
row = 0
while (row > 6):
    col = 0
    while (col > row):
        print("*" , end = "")
        col -=1
    row -=1
    print()

In [172]:
i = 6
while (i > 0):
    j = 6
    while (j > i):
        print('*' , end = "")
        j -= 1
    i -=1
    print()

*
**
***
****
*****

In [180]:
for i in 'kannur':
    print(i)
    if i == 'u':
        break

k
a
n
n
u

In [179]:
for i in "yallammadevi":
    print(i)
    if i == 'a':break;

y
a

In [181]:
for i in [18,45,36,81]:
    print(i)
    if i == 36:
        break

18
45
36

In [182]:
for i in [18,45,36,81]:
    print(i)
    if i == 36:
        continue

18
45
36
81

In [184]:
i = 6
while i < 0:
    i +=1
    if i == 4:
        continue
    print(i)

In [185]:
for i in 'selfhelp':
    print(i)

s
e
l
f
h
e
l
p

In [186]:
def hello():
    print("hello")

In [187]:
hello()

hello

In [188]:
def hello():
    """this sample function is display"""
    print("simple function")

In [192]:
hello.__doc__

'this sample function is display'

In [193]:
def func1():
    """this is my first string is displayed"""
    return "something else"

In [194]:
func1()

'something else'

In [195]:
func1.__doc__

'this is my first string is displayed'

In [196]:
def hello1():
    pass
hello1()

In [197]:
# python parametr 
def function(a,b):
    print(f"{a} + {b} = {a+b}")

In [198]:
function(18,45)

18 + 45 = 63

In [199]:
def float_function(a,b):
    print(f"{a} + {b} = {a+b}")

In [201]:
float_function(3.6,69)

3.6 + 69 = 72.6

In [207]:
def func1(a):
    if a%2 == 0:
        return 'even number'
    else:
        return "odd number"

In [208]:
func1(3)

'odd number'

In [209]:
def sum_function(a,b):
    return a+b

In [210]:
sum_function(18,25)

43

In [212]:
hello()

simple function

In [213]:
def func3():
    x = 7
    print(x)

In [214]:
func3()

7

In [215]:
x

NameError: name 'x' is not defined

In [216]:
y = 18
def func4():
    print(y)
func4()

18

In [217]:
def func5():
    y = 56
    print(y)

func5()

56

In [218]:
def func6():
    global y
    y = 9
    return y
func6()

9

In [219]:
y

9

In [220]:
y = 17
def func7():
    global y
    y +=1
    return y
func7()

18

In [221]:
y

18

In [222]:
def func8():
    counter = 0
    counter +=1
    return counter
func8()

1

In [225]:
del func7
func7()

NameError: name 'func7' is not defined

In [230]:
myvariable = lambda a, b : (a*b)
myvariable(2,3)

6

In [231]:
def facto(n):
    if n== 1:
        return 1
    return n*facto (n-1)

In [243]:
def factorial(n):
    fact = 1
    for i in range(n):
        fact = fact * i
    return fact

def factorial(n):
    if n == 1:
        return 1
    return n * factorial(n-1)

In [244]:
factorial(5)

120

In [250]:
def factorial(n):
    fact = 1
    if n > 1:
        for i in range(1,n+1):
            fact *= i
        return fact

In [251]:
factorial(5)

120

In [252]:
def sayhello():
    """so called genius"""
    print("hello")

In [253]:
sayhello()

hello

In [254]:
def sum1(a,b):
    return a+b

In [255]:
sum1(18,3)

21

In [256]:
def greeting(name = "yallammadevi"):
    print(f"My name is {name}")

In [257]:
greeting()

My name is yallammadevi

In [258]:
def sum11(a = 1 ,b):
    return a+b

SyntaxError: non-default argument follows default argument (Temp/ipykernel_13124/4127390415.py, line 1)

In [259]:
def sum11(a = 1 , b = 2):
    return a+b

In [261]:
sum11(18,90)

108

In [262]:
def divide(a,b):
    return a/b

In [264]:
divide(18,2)

9.0

In [267]:
def yallammadevi(name = None, age = None):
    print(f"My name is {name} and age is {age}")

yallammadevi('parasuram',58)

My name is parasuram and age is 58

In [268]:
def sayhello(*name):
    for i in name:
        print(f"{i}")

In [269]:
sayhello(18,25,36,98,47,21,35)

18
25
36
98
47
21
35

In [270]:
abs(-1)

1

In [271]:
abs(-5)

5

In [272]:
abs(5)

5

In [273]:
def abs_function(value):
    if value < 0 :
        return -value
    return value

In [274]:
abs_function(-8)

8

In [277]:
def decimal_binary(n):
    if (n > 1):
        decimal_binary(n//2)
    print(n%2 , end = '')

In [279]:
decimal_binary(8)

1000

In [280]:
a = bytearray(4)
a

bytearray(b'\x00\x00\x00\x00')

In [281]:
bytes(5)

b'\x00\x00\x00\x00\x00'

In [282]:
chr(95)

'_'

In [283]:
chr(69)

'E'

In [284]:
chr(58)

':'

In [285]:
chr(36)

'$'

In [286]:
class fruit:
    def sayhello(self):
        print("hi i am fruit")

In [287]:
f = fruit()
f.sayhello()

hi i am fruit

In [288]:
complex(3)

(3+0j)

In [289]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [290]:
list(range(-1))

[]

In [291]:
list(range(0))

[]

In [292]:
list(range(25))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24]

In [293]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [294]:
list(range(1,6))

[1, 2, 3, 4, 5]

In [295]:
list(range(7,1))

[]

In [296]:
list(range(1,9))

[1, 2, 3, 4, 5, 6, 7, 8]

In [297]:
list(range(-7,1))

[-7, -6, -5, -4, -3, -2, -1, 0]

In [298]:
list(range(-7,-4))

[-7, -6, -5]

In [299]:
list(range(3,3))

[]

In [304]:
list(range(7,1,-1))

[7, 6, 5, 4, 3, 2]

In [305]:
list(range(7,1-2))

[]

In [310]:
list(range(1,7,2))

[1, 3, 5]

In [311]:
list(range(12,2,2))

[]

In [312]:
list(range(9,1,-1))

[9, 8, 7, 6, 5, 4, 3, 2]

In [313]:
list(range(7,-1,-1))

[7, 6, 5, 4, 3, 2, 1, 0]

In [314]:
for i in range(9,-1,-1):
    print(i*2)

18
16
14
12
10
8
6
4
2
0

In [316]:
for i in zip([18,45,36,2,5,98,1,4,3,5,87,1,5,4,6,93,5,4]):
    print(i)

(18,)
(45,)
(36,)
(2,)
(5,)
(98,)
(1,)
(4,)
(3,)
(5,)
(87,)
(1,)
(5,)
(4,)
(6,)
(93,)
(5,)
(4,)

In [318]:
a = [18,45,69,35,24,12,78]
b = [58,36,91,54,25,74,35]
for i in zip([a+b]):
    print(i)

([18, 45, 69, 35, 24, 12, 78, 58, 36, 91, 54, 25, 74, 35],)

In [320]:
for i in zip([18,45,63,14]):
    print(i)

(18,)
(45,)
(63,)
(14,)

In [1]:
set(zip())

set()

In [2]:
for i in [18,25,36,9]:
    print(i)

18
25
36
9

In [3]:
for i in zip([18,36,45],[45,81,24]):
    print(i)

(18, 45)
(36, 81)
(45, 24)

In [4]:
for i in zip([1,2,3],['one','two','three']):
    print(i)

(1, 'one')
(2, 'two')
(3, 'three')

In [5]:
z = zip([1,2,3],['one','two','three'],[18,'kannur',108])
a ,b ,c = zip(*z)

In [7]:
print(a)
print(b)
print(c)

(1, 2, 3)
('one', 'two', 'three')
(18, 'kannur', 108)

In [8]:
z = zip([1,2,3],['one','two','three'])
a , b  = zip(*z)

In [9]:
a

(1, 2, 3)

In [10]:
b

('one', 'two', 'three')

In [12]:
x = 7
print(x**2)

49

In [14]:
number = 18
eval("number**2")

324

In [15]:
eval('[2,3,4][1]')

3

In [17]:
# colletion functions
from collections import Counter,namedtuple,OrderedDict,defaultdict
print(type(Counter))
print(type(namedtuple))
print(type(OrderedDict))
print(type(defaultdict))

<class 'type'>
<class 'function'>
<class 'type'>
<class 'type'>

In [19]:
Mylsit = [1,5,6,8,9,7,4,5,8,6,9,2,1,3,6,8,9,5,6,4,7,2,3,6,9]
counter = Counter(Mylsit)
counter

Counter({1: 2, 5: 3, 6: 5, 8: 3, 9: 4, 7: 2, 4: 2, 2: 2, 3: 2})

In [23]:
Mystring = 'yallammadevi prasanna'
letter = 'a'
Mylist = []
count = 1
for word in Mystring:
    Mylist.append(word)

for i in Mylist:
    if i == letter:
        count +=1
        
    else:
        continue
print(count)

7

In [29]:
def Counter(Mystring,letter):
    Mylist = []
    count = 1
    for word in Mystring:
        Mylist.append(word)
    for i in Mylist:
        if i == letter:
            count +=1
        # else:
        #     continue
    return count

In [31]:
Mystring = "yallammadevi prasanna"
Counter(Mystring,'a')

7

In [32]:
def Counter(Mylist):
    d = {}
    for i in Mylist:
        if i in d:
            d[i]+=1
        else:
            d[i]=0
    return d

In [33]:
print(Counter(Mystring))

{'y': 0, 'a': 5, 'l': 1, 'm': 1, 'd': 0, 'e': 0, 'v': 0, 'i': 0, ' ': 0, 'p': 0, 'r': 0, 's': 0, 'n': 1}

In [34]:
from collections import Counter
new_list = Counter(Mystring)
new_list

Counter({'y': 1,
         'a': 6,
         'l': 2,
         'm': 2,
         'd': 1,
         'e': 1,
         'v': 1,
         'i': 1,
         ' ': 1,
         'p': 1,
         'r': 1,
         's': 1,
         'n': 2})

In [36]:
c = Counter('hello')
c

Counter({'h': 1, 'e': 1, 'l': 2, 'o': 1})

In [38]:
string = 'hello'
dic = {}
for i in string:
    if i in dic:
        dic[i] += 1
    else:
        dic[i] = 1
print(dic)

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

In [41]:
c = Counter()
c.update('hello')
c

Counter({'h': 1, 'e': 1, 'l': 2, 'o': 1})

In [42]:
c['f']

0

In [43]:
c['h']

1

In [44]:
c['o']

1

In [47]:
for i in c.elements():
    print(i ,c[i])

h 1
e 1
l 2
l 2
o 1

In [48]:
string = "yellammadevi prasanna"
from collections import Counter
c = Counter(string)
c.most_common()

[('a', 5),
 ('e', 2),
 ('l', 2),
 ('m', 2),
 ('n', 2),
 ('y', 1),
 ('d', 1),
 ('v', 1),
 ('i', 1),
 (' ', 1),
 ('p', 1),
 ('r', 1),
 ('s', 1)]

In [49]:
c1 = Counter('hello')
c2 = Counter("help")
c1+c2

Counter({'h': 2, 'e': 2, 'l': 3, 'o': 1, 'p': 1})

In [51]:
from collections import OrderedDict
o = OrderedDict()
o['h'] = 9
o['nice'] = 5
o['kannur'] = 6
o

OrderedDict([('h', 9), ('nice', 5), ('kannur', 6)])

In [52]:
from collections import Counter
c = Counter(['a','b','c','d','e','f','g','g','j','a','j','i','k'])
c

Counter({'a': 2,
         'b': 1,
         'c': 1,
         'd': 1,
         'e': 1,
         'f': 1,
         'g': 2,
         'j': 2,
         'i': 1,
         'k': 1})

In [53]:
c['a']

2

In [55]:
issubclass(Counter,dict)

True

In [56]:
c=Counter(['a','b','c','a','b','a'])

In [57]:
c

Counter({'a': 3, 'b': 2, 'c': 1})

In [58]:
c=Counter(('a','b','c','a','b','a'))
c

Counter({'a': 3, 'b': 2, 'c': 1})

In [59]:
c = Counter('hello')
c

Counter({'h': 1, 'e': 1, 'l': 2, 'o': 1})

In [60]:
c=Counter({'a':3,'b':2,'c':1})
c

Counter({'a': 3, 'b': 2, 'c': 1})

In [61]:
c=Counter(a=3,b=2,c=1)
c

Counter({'a': 3, 'b': 2, 'c': 1})

In [62]:
d = Counter()
d.update('kannur')
d

Counter({'k': 1, 'a': 1, 'n': 2, 'u': 1, 'r': 1})

In [65]:
e = Counter('hello')
for i in "help":
    print(f"{i} = {e[i]}")

h = 1
e = 1
l = 2
p = 0

In [66]:
dict1={'H':1,'e':1,'l':2,'o':1}

In [67]:
dict1

{'H': 1, 'e': 1, 'l': 2, 'o': 1}

In [69]:
dict1['H']

1

In [72]:
e=Counter({'a':3,'b':2,'c':1,'d':0})
for i in e.elements():
    print(f"{i} : {e[i]}")

a : 3
a : 3
a : 3
b : 2
b : 2
c : 1

In [76]:
e.most_common(2)

[('a', 3), ('b', 2)]

In [77]:
e.most_common(4)

[('a', 3), ('b', 2), ('c', 1), ('d', 0)]

In [78]:
e.most_common()

[('a', 3), ('b', 2), ('c', 1), ('d', 0)]

In [79]:
e['e'] = 5
e

Counter({'a': 3, 'b': 2, 'c': 1, 'd': 0, 'e': 5})

In [80]:
e

Counter({'a': 3, 'b': 2, 'c': 1, 'd': 0, 'e': 5})

In [82]:
e.clear()
e

Counter()

In [84]:
a=Counter({'a':3,'b':2,'c':1})
b=Counter({'c':3,'d':2,'e':1})
a+b

Counter({'a': 3, 'b': 2, 'c': 4, 'd': 2, 'e': 1})

In [85]:
a-b

Counter({'a': 3, 'b': 2})

In [86]:
b-a

Counter({'c': 2, 'd': 2, 'e': 1})

In [89]:
colors=(255,0,0)
colors[0]

255

In [93]:
from collections import namedtuple
Colors=namedtuple('Colors','red green blue')
Colors

__main__.Colors

In [94]:
type(Colors)

type

In [95]:
{'PB&J':'Peanut Butter and Jelly','PJ':'Pajamas'}

{'PB&J': 'Peanut Butter and Jelly', 'PJ': 'Pajamas'}

In [96]:
lingo={'PB&J':'Peanut Butter and Jelly','PJ':'Pajamas'}

In [97]:
lingo

{'PB&J': 'Peanut Butter and Jelly', 'PJ': 'Pajamas'}

In [100]:
mydict = {x*x:x for x in range(9)}
mydict

{0: 0, 1: 1, 4: 2, 9: 3, 16: 4, 25: 5, 36: 6, 49: 7, 64: 8}

In [105]:
import os
data = dir(os)
print(data,end = '')

['DirEntry', 'F_OK', 'GenericAlias', 'Mapping', 'MutableMapping', 'O_APPEND', 'O_BINARY', 'O_CREAT', 'O_EXCL', 'O_NOINHERIT', 'O_RANDOM', 'O_RDONLY', 'O_RDWR', 'O_SEQUENTIAL', 'O_SHORT_LIVED', 'O_TEMPORARY', 'O_TEXT', 'O_TRUNC', 'O_WRONLY', 'P_DETACH', 'P_NOWAIT', 'P_NOWAITO', 'P_OVERLAY', 'P_WAIT', 'PathLike', 'R_OK', 'SEEK_CUR', 'SEEK_END', 'SEEK_SET', 'TMP_MAX', 'W_OK', 'X_OK', '_AddedDllDirectory', '_Environ', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_check_methods', '_execvpe', '_exists', '_exit', '_fspath', '_get_exports_list', '_walk', '_wrap_close', 'abc', 'abort', 'access', 'add_dll_directory', 'altsep', 'chdir', 'chmod', 'close', 'closerange', 'cpu_count', 'curdir', 'defpath', 'device_encoding', 'devnull', 'dup', 'dup2', 'environ', 'error', 'execl', 'execle', 'execlp', 'execlpe', 'execv', 'execve', 'execvp', 'execvpe', 'extsep', 'fdopen', 'fsdecode', 'fsencode', 'fspath', 'fstat', 'fsync', 'ftruncate', 'get_exec_path', 'get_handle_inheritable', 'get_inheritable', 'get_terminal_size', 'getcwd', 'getcwdb', 'getenv', 'getlogin', 'getpid', 'getppid', 'isatty', 'kill', 'linesep', 'link', 'listdir', 'lseek', 'lstat', 'makedirs', 'mkdir', 'name', 'open', 'pardir', 'path', 'pathsep', 'pipe', 'popen', 'putenv', 'read', 'readlink', 'remove', 'removedirs', 'rename', 'renames', 'replace', 'rmdir', 'scandir', 'sep', 'set_handle_inheritable', 'set_inheritable', 'spawnl', 'spawnle', 'spawnv', 'spawnve', 'st', 'startfile', 'stat', 'stat_result', 'statvfs_result', 'strerror', 'supports_bytes_environ', 'supports_dir_fd', 'supports_effective_ids', 'supports_fd', 'supports_follow_symlinks', 'symlink', 'sys', 'system', 'terminal_size', 'times', 'times_result', 'truncate', 'umask', 'uname_result', 'unlink', 'unsetenv', 'urandom', 'utime', 'waitpid', 'waitstatus_to_exitcode', 'walk', 'write']

In [113]:
import os
os.getcwd()
os.listdir()
file = "openfile\string.txt"
read = os.open(file,os.O_RDWR)
print(read)

4

In [122]:
def factorial(n):
    if n < 1:
        return 1
    return n*factorial(n-1)

def factorial1(n):
    fact = 1
    for i in range(1,n+1):
        fact *=i
    return fact

In [124]:
print(factorial1(5))
print(factorial(5))

120
120

In [125]:
L = lambda e : e*2
L(2)

4

In [127]:
how = lambda e : e-2
how(2)

0

In [128]:
how(1)

-1

In [132]:
how = (lambda e : e-2) (1)
how

-1

In [133]:
def printhello():
    print("printhello")
printhello()

printhello

In [134]:
def how(a = 1 , b = 2,c = 3):
    return a+b+c

In [135]:
how(18,36,45)

99

In [136]:
how(18,45)

66

In [137]:
how = lambda x = 2, b = 2 , c = 4: x+b+c
how(18,45)

67

In [138]:
# python arguments
a , b = 18,45
y = lambda a ,b : a+b
y()

TypeError: <lambda>() missing 2 required positional arguments: 'a' and 'b'

In [139]:
y(18,45)

63

In [140]:
y = lambda : a+b

In [142]:
y()

63

In [143]:
y = lambda : 18+45
y()

63

In [144]:
numbers=[0,1,2,3,4,5,6,7,8,9,10]

In [147]:
def decor(func):
    def wrap():
        print("second arguments")
        func()
        print("second argumens")
    return wrap
def sayhello():
    print("frist arguments")

newfunc = decor(sayhello)
newfunc()

second arguments
frist arguments
second argumens

In [161]:
def Demo1(name):
    def something():
        print(f"first name {name}")
        name()
        print(f"second number {name}")
    return something

def sayhello():
    name = "mahesh"
    print(f"my third name is {name}")

newfunc = Demo1(sayhello)
newfunc()

first name <function sayhello at 0x000002B9518D2160>
my third name is mahesh
second number <function sayhello at 0x000002B9518D2160>

In [1]:
def demo(func):
    def wrap():
        print("first arguments")
        func()
        print("second arguments")
    return wrap

def sayhello():
    print("first arguments")


newfunc = demo(sayhello)
newfunc()

first arguments
first arguments
second arguments

In [3]:
def somehting():
    print("this is my first case i have assigne")

def dec(func):
    def wrap():
        print("first arguments")
        func()
        print("second arguments")
    return wrap

new_function = dec(somehting)
new_function()

first arguments
this is my first case i have assigne
second arguments

In [4]:
def addition(a,b):
    return a+b

def decorator(func):
    def wrapper(a,b):
        if b == 0:
            print("can't be divided")
            return 
        return func(a,b)
    return wrapper

dec = decorator(addition)
dec(18,2)

20

In [6]:
def Caluculation(a,b):
    add = a+b
    sub = a-b
    mul = a*b
    div = a/b
    mod = a%b
    return add,sub,mul,div,mod

def argument_somehting(hanunman):
    def print_something(a,b):
        print(f"addintion is{a},{b} ={a+b} and substration {a},{b} ={a-b} and multiplication is {a},{b} ={a*b} and division {a},{b} ={a/b} and modules {a},{b} ={a%b}")
        return hanunman(a,b)
    return print_something

new_function = argument_somehting(Caluculation)
new_function(2,3)

addintion is2,3 =5 and substration 2,3 =-1 and multiplication is 2,3 =6 and division 2,3 =0.6666666666666666 and modules 2,3 =2

(5, -1, 6, 0.6666666666666666, 2)

In [18]:
def Demo1(func):
    def wrap():
        print("third arguments")
        func()
        print("second arguments")
    return wrap


new_function = Demo1(sayhello)
new_function()

third arguments
first arguments
second arguments

In [20]:
def add(a,b):
    return a+b


def Demo2(func):
    def another_func(a,b):
        # print(f"{a} , {b} = {a+b}")
        return func(a,b)
    return another_func

mydata = Demo2(add)
mydata(17,1)

18

In [22]:
txt = "hello"
def func2(tex):
    def func1():
        print(txt)
    func1()
func2('something')

hello

In [26]:
def divide(a,b):
    return a/b

def arguments_keywords(func):
    def wraper(*args,**kwargs):
        if args[1] == 0:
            print("cant be zero")
            return 
        return func(*args,**kwargs)
    return wraper

My_divide = arguments_keywords(divide)
My_divide(18,2)

9.0

In [29]:
def print_name(func):
    def wrap(name):
        print(f"My name is {name}")
        return func(name)
    return wrap

In [35]:

def decor(func):
    def wrap():
        print("fi")
        func()
        print("sec")
    return wrap

In [37]:
@decor
def sayhello():
    print("hello")
sayhello()

fi
hello
sec

In [46]:
def DD(func):
    def wrap(a,b):
        if b == 0:
            print("can't be divide")
            return 
        return func(a,b)
    return wrap

# @DD(divide(4,2))
# def divide(a,b):
#     return a/b

In [49]:
def shout(text):
    return text.upper()

print(shout('hello'))
yell = 'yallammadevi'
print(shout(yell))

HELLO
YALLAMMADEVI

In [60]:
def wisper(text):
    return text.lower()

def greetings(func):
    greet = func("i have been working in somewhere")
    return greet

@greetings
def shout(text):
    return text.upper()


# print(greetings(shout))

In [62]:
def creat_adder(x):
    def adder(y):
        return x+y

    return adder

add_15 = creat_adder(45)
print(add_15(10))

55

In [64]:
import time
import math

def calculator_time(func):

    def inner(*args,**kwargs):
        start_time = time.time()
        func(*args,**kwargs)
        end_time = time.time()
        print("total time taken in : ",func.__name__,start_time-end_time)
    return inner
@calculator_time
def factorial(num):
    time.sleep(2)
    print(math.factorial(num))

factorial(10)

3628800
total time taken in :  factorial -2.001741886138916

In [1]:
def decor1(func):
    def inner():
        x = func()
        return x*x
    return inner


def decor2(func):
    def inner():
        x = func()
        return x*2
    return inner


@decor1
@decor2
def num():
    return 10

print(num)

In [2]:
def Counter():
    i = 1
    while (i < 10):
        yield i
        i +=1

In [4]:
Counter()
for i in Counter():
    print(i)

1
2
3
4
5
6
7
8
9

In [5]:
def fun():
    print("something else")

In [6]:
fun()

something else

In [2]:
def add(num1:int , num2: int):
    num3 = num1 + num2
    return num3
a = 18
b = 45
ans = add(a,b)
print(f"total two number are {a} and {b} = {ans}")

total two number are 18 and 45 = 63

In [3]:
def even_odd(x):
    if (x%2 == 0):
        return 'even'
    return 'odd'

In [4]:
even_odd(2)

'even'

In [7]:
def my_fun(x , y = 18):
    return x+y

my_fun(9,)

27

In [8]:
def student(firstname,lastname):
    return firstname,lastname

In [9]:
student('manjunath','kannur')

('manjunath', 'kannur')

In [10]:
def My_fun(*args):
    for i in args:
        print(i)

In [11]:
My_fun('sometimes','pass','topass')

sometimes
pass
topass

In [14]:
def eve_odd(x):
    """function is check even or odd"""
    if (x % 2 == 0):
        return 'even'
    else:
        return "odd"
print(eve_odd(2))
print(eve_odd(3))
print(eve_odd.__doc__)

even
odd
function is check even or odd

In [20]:
def sqaure(num):
    return num**2

print(sqaure(2))
print(sqaure(3))
print(sqaure(4))

4
9
16

In [21]:
def myfun(x):
    x[0] = 108
    return x

mylist = [99,45,6,3,18]
myfun(mylist)

[108, 45, 6, 3, 18]

In [23]:
def append_front(x,mylist):
   ret = mylist = [x] + mylist
   return ret

append_front(63,mylist)
print(append_front(56,mylist))

[56, 108, 45, 6, 3, 18]

In [24]:
def myfun(x):
    x = 20

x = 18
myfun(x)
print(x)

18

In [27]:
def swap(x,y):
    temp = x
    x = y
    y = temp
    return x,y
print(swap(2,5))
print(swap(18,45))

(5, 2)
(45, 18)

In [28]:
def cube(x):
    return x*x*x

cube_x = lambda x : x*x*x
print(cube(2))
print(cube_x(2))

8
8

In [30]:
def f1():
    s = "yallammadevi prasanna"
    def f2():
        print(s)
    # return f2
    f2()
f1()

yallammadevi prasanna

In [32]:
def My_fun(*args):
    for i in args:
        print(i)
My_fun('doctor','kannur','didi','smash')

doctor
kannur
didi
smash

In [34]:
def arguments_function(arg1,*args):
    print("first arguments",arg1)
    for i  in args:
        print(i)
arguments_function('hanuman','yallamma','devi','smash')

first arguments hanuman
yallamma
devi
smash

In [36]:
def My_fun1(arg1 ,arg2, arg3):
    print("first ",arg1)
    print("scond ",arg2)
    print("third ",arg3)

my_lst = [18,45,36]
My_fun1(*my_lst)

first  18
scond  45
third  36

In [41]:
class car(object):
    def __init__(self,*args):
        self.speed = args[0]
        self.race = args[1]

obj = car('suzaki',18)
obj2 = car('maruti',36)

obj.speed
obj.race

18

In [42]:
def My_fun(M_list):
    for i in M_list:
        print(i)

My_fun([18,2,5,6,9,3,5,8,7,4,5])

18
2
5
6
9
3
5
8
7
4
5

In [43]:
def sumoffunc():
    yield 1
    yield 2
    yield 3

for i in sumoffunc():
    print(i)

1
2
3

In [49]:
def next_square():
    i = 1
    while True:
        yield i * i
        i +=1

for i in next_square():
    if i > 100:
        break
    print(i)

1
4
9
16
25
36
49
64
81
100

In [50]:
string = 'yallammadevi'
print(lambda string : string)

<function <lambda> at 0x000002186BCEF940>

In [53]:
evens=[2,4,6,8,10]
eveniterator = iter(evens)
eveniterator

In [54]:
iter,([81,18,54,63])

(<function iter>, [81, 18, 54, 63])

In [55]:
next(eveniterator)

2

In [56]:
next(eveniterator)

4

In [57]:
next(eveniterator)

6

In [58]:
for i in 'python':
    print(i)

p
y
t
h
o
n

In [59]:
inter_obj = iter('python')
while True:
    try:
        i = next(inter_obj)
        print(i)
    except StopIteration:
        break

p
y
t
h
o
n

In [60]:
def outer_function():
    def inner_function():
        print("hello")
    inner_function()
outer_function()

hello

In [62]:
def f1(x):
    def f2():
        print(x)
    f2()
f1(18)

18

In [65]:
def outer_function(x):
    def inner_function():
        print(x)
    return inner_function

nw = outer_function(18)
nw()

18